USE [xxx_openbank_consentdb]
GO
/****** Object:  Table [dbo].[UK_MULTI_AUTHORIZATION_PENDING_SUBMISSIONS]    Script Date: 30/09/2019 18:01:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UK_MULTI_AUTHORIZATION_PENDING_SUBMISSIONS](
	[CONSENT_ID] [varchar](255) NOT NULL,
	[STATUS] [varchar](100) NOT NULL,
	[DATA] [varchar](max) NOT NULL,
	[ACCOUNT_ID] [varchar](200) NOT NULL,
	[USER_ID] [varchar](200) NOT NULL,
	[PAYMENT_ID] [varchar](100) NULL,
	[PAYMENT_TYPE] [varchar](100) NOT NULL,
	[ENDPOINT] [varchar](100) NOT NULL,
 CONSTRAINT [PK_UK_MULTI_AUTHORIZATION_PENDING_SUBMISSIONS] PRIMARY KEY CLUSTERED 
(
	[CONSENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[UK_MULTI_AUTHORIZATION_PENDING_SUBMISSIONS]  WITH CHECK ADD  CONSTRAINT [FK_UK_MULTI_AUTHORIZATION_PENDING_SUBMISSIONS_UK_TRANSACTION_INITIATION] FOREIGN KEY([CONSENT_ID])
REFERENCES [dbo].[UK_TRANSACTION_INITIATION] ([ID])
GO
ALTER TABLE [dbo].[UK_MULTI_AUTHORIZATION_PENDING_SUBMISSIONS] CHECK CONSTRAINT [FK_UK_MULTI_AUTHORIZATION_PENDING_SUBMISSIONS_UK_TRANSACTION_INITIATION]
GO
